page-pages-nuevo-mensaje {
    .chat-picture {
        border-radius: 50%;
        width: 50px;
        float: left;
      }
    .text-muted-right{
        float: right;
    }

    .chats-page-conten{
        height: 100%;
    }
    .chat-info {
        float: left;
        margin: 10px 0 0 20px;
   
      }
}
